@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 24% 4%;
    --foreground: 260 9% 96%;
    
    --card: 240 24% 4%;
    --card-foreground: 260 9% 96%;
    
    --popover: 240 24% 4%;
    --popover-foreground: 260 9% 96%;
    
    --primary: 252 24% 26%;
    --primary-foreground: 260 9% 96%;
    
    --secondary: 252 45% 12%;
    --secondary-foreground: 260 9% 96%;
    
    --muted: 252 45% 12%;
    --muted-foreground: 260 9% 96%;
    
    --accent: 252 45% 12%;
    --accent-foreground: 260 9% 96%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 252 45% 12%;
    --input: 252 45% 12%;
    --ring: 252 24% 26%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
